@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.selected {
  color: dodgerblue !important;
}

a {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}

a:hover {
  border: solid 1px dodgerblue;
}
