<div>
  <div class="noselect">
    <app-category-list [categories]="categories"
                       (onSelectedCategory)="onSelectedCategoryChanged($event)"></app-category-list>
    <div>
      <h1 style="color: dodgerblue">
        <span *ngIf="selectedCategory">{{selectedCategory.CategoryName}}</span>
        <span *ngIf="!selectedCategory" translate>AllProducts</span>
      </h1>
      <app-product-list [filterArgs]="filterArgs" [products]="products"></app-product-list>
    </div>
  </div>
</div>
