<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <div *ngFor="let item of menu.items">
          <a class="nav-item nav-link text-lowercase" routerLink="/{{item.link}}" routerLinkActive="active">
            <i class="fas fa-window-maximize"></i>
            <span translate>{{item.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
